.App {
    margin: 0 auto;
    padding: 1rem 0;
    width: 1200px;
}

.update-wrapper {
    display: flex;
    align-items: center;
}

.nodesList {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.node {
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    position: relative;
}

.circle-button {
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.circle-button.circle-button-delete {
    position: absolute;
    top: -15px;
    right: -15px;
    color: red;
}

.circle-button.circle-button-create {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.create-wrapper {
    display: inline-block;
    position: relative;
}